// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MAC 0
#define WIN 1
#define RIG 2
#define LEF 3
#define TRI 4
#define MOUSE 5

// https://zmk.dev/docs/development/hardware-integration/soft-off-setup?advanced-methods=wakeup&kscan-type=dkscan

/ {
    keys {
        compatible = "gpio-keys";

        soft_off_gpio_key: soft_off_gpio_key { gpios = <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; };
    };

    wakeup_scan: wakeup_scan {
        compatible = "zmk,kscan-gpio-direct";
        input-keys = <&soft_off_gpio_key>;
        wakeup-source;
    };

    side_band_behavior_triggers: side_band_behavior_triggers {
        compatible = "zmk,kscan-sideband-behaviors";
        kscan = <&wakeup_scan>;
        auto-enable;
        wakeup-source;
    };

    soft_off_wakers {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&wakeup_scan>;
    };
};

/ {
    chosen { zmk,charmap = &charmap_us; };

    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        lm: lm {
            compatible = "zmk,behavior-macro-two-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <2>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER &macro_param_2to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER &macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <300>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <0>;      // 0
            time-to-max-speed-ms = <40>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        dl {
            display-name = "DEF";
            bindings = <
&kp Q  &kp W        &kp E           &kp R                 &kp T         &kp Y  &kp U        &kp I            &kp O             &kp P
&kp A  &ht LCTRL S  &ht LEFT_ALT D  &ht LGUI F            &kp G         &kp H  &ht RGUI J   &ht RIGHT_ALT K  &ht RCTRL L       &kp SEMICOLON
&kp Z  &kp X        &kp C           &kp V                 &kp B         &kp N  &kp M        &kp COMMA        &ht SLASH PERIOD  &kp BACKSLASH
                                    &ht LEFT_SHIFT SPACE  &lm 3 LCMD    &to 1  &lt 2 ENTER
            >;
        };

        Math {
            display-name = "123";
            bindings = <
&kp ESCAPE  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET    &kp MINUS     &kp N7        &kp N8        &kp N9        &kp BACKSPACE
&kp SLASH   &kp ASTERISK      &kp MINUS             &kp PLUS               &kp EQUAL            &kp PLUS      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ENTER
&kp GRAVE   &kp BACKSLASH     &kp LESS_THAN         &kp GREATER_THAN       &kp PERIOD           &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD
                                                    &ht LSHIFT SPACE       &to 0                &kp LEFT_ALT  &lt 2 ENTER
            >;
        };

        layer_2 {
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans    &kp F5                   &trans         &trans       &trans               &kp BSPC
&trans   &trans  &trans  &trans  &trans    &ht LG(LEFT) LEFT_ARROW  &kp DOWN       &kp UP       &ht LG(RIGHT) RIGHT  &kp LA(BACKSPACE)
&trans   &trans  &trans  &trans  &trans    &kp LA(LEFT)             &kp PAGE_DOWN  &kp PAGE_UP  &kp LA(RIGHT)        &kp DELETE
                         &trans  &trans    &trans                   &trans
            >;
        };

        CMD {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
